@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Formula 1';
    src: url('../fonts/Formula1-Regular-1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --blue: #4e73df;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #e74a3b;
    --orange: #fd7e14;
    --yellow: #f6c23e;
    --green: #1cc88a;
    --teal: #20c9a6;
    --cyan: #36b9cc;
    --white: #fff;
    --gray: #858796;
    --gray-dark: #5a5c69;
    --primary: #4e73df;
    --secondary: #858796;
    --success: #1cc88a;
    --info: #36b9cc;
    --warning: #f6c23e;
    --danger: #e74a3b;
    --light: #f8f9fc;
    --dark: #5a5c69;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --border-radius-1: 5px;
    --border-radius-2: 15px;
    --border-radius-3: 25px;
}



/* Contenedor principal */
.container-fluid {
    padding-left: 20px; /* Agrega espacio a la izquierda */
}

/* Título */
.h3 {
    margin-bottom: 10px; /* Agrega espacio inferior */
}

/* Botón de descarga */
.btn-primary {
    margin-left: 20px; /* Agrega espacio a la izquierda */
}

/* Título secundario */
h6 {
    margin-left: 20px; /* Agrega espacio a la izquierda */
}

.container-options-dashboard{
    display: grid;
    grid-template-columns: calc(55% - 10px) calc(45% - 10px);
    gap: 10px;
    width: 100%;
    height: auto;
}

/* Cuadro descripcion */
.description-container, .users-container {
    padding: 20px; /* Ajusta el espacio interno */
    background-color: var(--background-1);
    border-radius: var(--border-radius-2);
    border: 1px solid var(--color-5);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px; /* anchoooooo*/
    height: 400px;/*altoooo*/
}

.users-container {
    width: 720px; /* anchoooooo*/
    height: 785px;/*altoooo*/
}

/* Cuadro grande */
.description-container.large {
    grid-column: span 2; /* Ocupa dos columnas */
    grid-row: span 2; /* Ocupa dos filas */
}

/* Contenedor de la cuadrícula */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Tres columnas de igual tamaño */
    gap: 40px 10px; /* Espaciado entre los cuadros */
    width: 100%; /* anchoooooo*/
    
     /*margin-left: 20px; Alinea a la izquierda */
   
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Tres columnas de igual tamaño */
    gap: 10px; /* Espaciado entre los cuadros */
    width: 100%; /* anchoooooo*/
     /*margin-left: 20px; Alinea a la izquierda */
}


/*Panel agregar admin*/
.container-admin,
.container-fluid-admin,
.container-sm-admin,
.container-md-admin,
.container-lg-admin,
.container-xl-admin {
  width: 170%;/*ajustar el ancho del cuadro*/
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: -560px;/*ajustar el cuadro a la izquierda*/
  border-radius: 150px; /* agregar bordes redondeados */
}

.container-password {
    width: 100%;/*ajustar el ancho del cuadro*/
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: 0px;/*ajustar el cuadro a la izquierda*/
}

.text-center-admin {
    text-align: center;
    color: black;
}
.custom-btn-blue {
    background: linear-gradient(to right, #6060FF, #62BBF5) !important; /* Degradado azul */
    color: #FFFFFF !important; /* Color del texto */
    border: none !important; /* Quitar bordes */
}

.custom-btn-red {
    background-color: #E61A4F !important; /* Color rojo personalizado */
    /*border-color: #dc3545 !important;  Bordes del mismo color rojo */
    color: #FFFFFF !important; /* Color del texto */
}


.line-above {
    border-top: 2px solid #A9A9A9; /* Gris oscuro */
    padding-top: 10px; /* Espaciado opcional para separar el borde del texto */
}

